*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 body{
  margin: 0;
  height: 100vh; 
  display: grid; 
  grid-template-areas:
  "boxL meio meio"; 
  grid-template-columns: 15vw;
 }
 
 main {
  display: flex;
  grid-area: meio; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow:scroll;
 }
 
 asideL {
  min-width: 200px;
  grid-area: boxL; 
  background: #F9501B;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: inset 0 0 1em #66382A;
  box-shadow: 1px 0px 10px black;
 }
 
 #text_logo{
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 30px;
  margin-top: 0;
 }
 
 .cont_esq{
  align-items: center;
  display: flex;
  flex-direction: column;
 }
 
 .list{
  list-style: none;
  font-family: 'Andika', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
 }
 
 .but_esq ul li a {
   min-width: 200px;
   color: #FFFFFF;
   display: flex;
   height: 30px;
   width: 15vw;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   text-decoration: none; 
}
 
.but_esq ul li a:hover {
   color: #FF3D00;
   background: #FFFFFF;
   display: block;
   height: 30px;
   width: 15vw;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   text-decoration: none;
}
 
 .list a{
  text-decoration: none;
  padding-left: 10px;
 }
 
 .list_inside a{
  text-decoration: none;
  padding-left: 10px;
 }
 
 .but_esq{
  display: flex;
  padding-top: 20px;
 }
 
 .list_inside{
  list-style: none;
  font-family: 'Andika', sans-serif;
  font-size: 15px;
  color: #FFFFFF; 
 }
 
 .space{
  padding-left: 10px;
 }
 
 .title_inside{
  padding-left: 30px;
 }
 
 
 .sequencia_topo{
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  padding-right: 50%;
  gap: 10px;
  font-family: 'Andika', sans-serif;
  color: black;
 }
 
 .sequencia_topo a{
  text-decoration: none;
  color: black;
 }
 
 .aaa{
   background-color: #F9501B;
 }




/*----------------------------Tela HOME--------*/


.div-top{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap:10px;
   height: 86vh;
   width: 40vw; 
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   box-shadow: inset 0 0 1em #66382A;
   box-shadow: 1px 0px 10px black;
   background-color: whitesmoke;
}

.image-home{
   width: 60vh;
   height: 40vh;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

#porigym-title-home{
   font-family: 'Allerta Stencil', sans-serif;
   font-size: 45px;
}
#text-home{
   text-align: center;
   font-size: 18px;
   font-family: 'Andika' sans-serif;
}

#scrollbar::-webkit-scrollbar { 
   display: none;
}

