* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   margin: 0;
   height: 100vh;
   display: grid;
   grid-template-areas:
      "boxL meio meio";
   grid-template-columns: 15vw;
}

main {
   display: flex;
   grid-area: meio;
   flex-direction: column;
}

asideL {
   min-width: 200px;
   grid-area: boxL;
   background: #F9501B;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   box-shadow: inset 0 0 1em #66382A;
   box-shadow: 1px 0px 10px black;
}

#text_logo {
   font-family: 'Allerta Stencil', sans-serif;
   font-size: 30px;
   margin-top: 0;
}

.cont_esq {
   align-items: center;
   display: flex;
   flex-direction: column;
}

.list {
   list-style: none;
   font-family: 'Andika', sans-serif;
   font-size: 20px;
   color: #FFFFFF;
}

.but_esq ul li a {
   min-width: 200px;
   color: #FFFFFF;
   display: flex;
   height: 30px;
   width: 15vw;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   text-decoration: none;
}

.but_esq ul li a:hover {
   color: #FF3D00;
   background: #FFFFFF;
   display: block;
   height: 30px;
   width: 15vw;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   text-decoration: none;
}

.list a {
   text-decoration: none;
   padding-left: 10px;
}

.list_inside a {
   text-decoration: none;
   padding-left: 10px;
}

.but_esq {
   display: flex;
   padding-top: 20px;
}

.list_inside {
   list-style: none;
   font-family: 'Andika', sans-serif;
   font-size: 15px;
   color: #FFFFFF;
}

.space {
   padding-left: 10px;
}

.title_inside {
   padding-left: 30px;
}

.sequencia_topo {
   display: flex;
   flex-direction: row;
   margin: 50px auto;
   padding-right: 50%;
   gap: 10px;
   font-family: 'Andika', sans-serif;
   color: black;
}

.sequencia_topo a {
   text-decoration: none;
   color: black;
}

/*---------------------------------------------------*/


.cont_tudo {
   position: relative;
   display: flex;
   align-items: center;
   overflow: scroll;
   flex-direction: column;
}

#scrollbar::-webkit-scrollbar {
   display: none;
}

.a_tabs:checked~label {
   background-color: #F9501B;
   color: #FFFFFF;
}

.a_tabs {
   display: none;
}

.conteudo {
   display: flex;
   justify-content: center;
   align-items: center;
}

.aaa {
   background-color: #F9501B;
}

.a_tabs:checked~.conteudo {
   display: block;
}

.sequencia_topo {
   display: flex;
   flex-direction: row;
   margin: 50px auto;
   padding-left: 16%;
   gap: 10px;
   font-family: 'Andika', sans-serif;
   color: black;
}

.sequencia_topo a {
   text-decoration: none;
   color: black;
}

.campo-texto {
   font-size: 13px;
   font-family: 'Andika', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 30px 0;
}

.campo-texto>input {
   width: 27.5vw;
   display: flex;
   justify-content: center;
   align-items: initial;
   border: none;
   border-radius: 30px;
   padding: 13px 10px;
   background: #F3E9E9;
   font-size: 12px;
   outline: none;
   box-sizing: border-box;
}

.botao-cadastro {
   margin-top: 20px;
   margin-bottom: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.botao-cadastro button {
   font-family: 'Bai Jamjuree', sans-serif;
   font-size: 15px;
   width: 250px;
   padding: 7px;
   border: none;
   border-radius: 8px;
   text-transform: uppercase;
   font-weight: 500;
   color: #FFFFFF;
   background: #FF3D00;
   cursor: pointer;
   box-sizing: border-box;
}

.conteudo label {
   width: 180px;
   padding: 0px;
   display: flex;
   background-color: #FFFFFF;
   cursor: auto;
   text-align: none;
   color: #000000;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;

}

.edit-title {
   font-family: 'Bai Jamjuree', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
}