* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "boxL meio meio";
    grid-template-columns: 15vw;
}

main {
    display: flex;
    grid-area: meio;
    flex-direction: column;
    overflow: scroll;
}

#scrollbar::-webkit-scrollbar {
    display: none;
}

asideL {
    min-width: 200px;
    grid-area: boxL;
    background: #F9501B;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0 0 1em #66382A;
    box-shadow: 1px 0px 10px black;
 }

#text_logo {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 30px;
    margin-top: 0;
}

.cont_esq {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.list {
    list-style: none;
    font-family: 'Andika', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.but_esq ul li a {
    min-width: 200px;
    color: #FFFFFF;
    display: flex;
    height: 30px;
    width: 15vw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-decoration: none;
}

.but_esq ul li a:hover {
    color: #FF3D00;
    background: #FFFFFF;
    display: flex;
    height: 30px;
    width: 15vw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-decoration: none; 
}

.list a {
    text-decoration: none;
    padding-left: 10px;
}

.list_inside a {
    text-decoration: none;
    padding-left: 10px;
}

.but_esq {
    display: flex;
    padding-top: 20px;
}

.list_inside {
    list-style: none;
    font-family: 'Andika', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
}

.space {
    padding-left: 10px;
}

.title_inside {
    padding-left: 30px;
}


.sequencia_topo {
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    padding-right: 50%;
    gap: 10px;
    font-family: 'Andika', sans-serif;
    color: black;
}

.sequencia_topo a {
    text-decoration: none;
    color: black;
}

.aaa {
    background-color: #F9501B;
}

/*-------------------------Procurar exercicio e tabela com os exercicios*/

.conteudo {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    height: 50vh;
}

.campo-texto label {
    width: 150px;
    display: flex;
    font-family: 'Andika', sans-serif;
    font-size: 17px;
    cursor: auto;
    text-align: none;
    color: #000000;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.form-title {
    font-family: 'Bai Jamjuree', sans-serif;
}

.campo-texto {
    font-family: 'Andika', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0;
}

.campo-texto>input {
    width: 27.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    padding: 13px 10px;
    background: #F3E9E9;
    font-size: 17px;
    outline: none;
    box-sizing: border-box;
}

.button_find {
    display: flex;
    left: 40px;
}

.button_find button {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    margin-left: 15px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    background: #FF3D00;
    cursor: pointer;
    box-sizing: border-box;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;

}

.table button{
    border:none;
    background-color: white;
}

.table_head {
    width: 16%;
    background-color: #C4C4C4;
    text-align: center;
}

.table_body {
    text-align: center;
}

.icons_table{
    color: #F9501B;
    font-size: 25px;
}

.icons_table:hover{
    color: #361207;
    font-size: 25px;
}

#acoes{
    text-align: center;
}
.alinha_botao {
    display: flex;
    justify-content: center;
    gap: 5px;
  }


/*-------------------------modal*/
a {
    text-decoration: none;
}

.btn {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    margin-left: 15px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    background: #FF3D00;
    cursor: pointer;
    box-sizing: border-box;
}

.btn_modal {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    background: #FF3D00;
    cursor: pointer;
    box-sizing: border-box;
}

.div_button{
    display: flex;
    justify-content: center;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #000000ab;
    display: grid;
    place-content: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.modal--2 {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: red;
    display: grid;
    place-content: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}


.modal:target {
    opacity: 1;
    visibility: visible;
}

.modal__content {
    background-color: #ffffff;
    height: 60vh;
    width: 20vw;
    padding: 2rem 2rem 1rem;
    border-radius: 4px;
    border-top: .8rem solid #F9501B;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 370px;
    min-height: 500px;
}

.modal__title {
    margin-bottom: 1rem;
    font-family: 'Bai-Jamjuure', sans-serif;
}

.modal__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #F9501B;
    color: #ffffff;
    padding: 0.7rem 3rem;
    margin-top: 3rem;
    border-radius: 4px;
}

.modal__link:hover {
    background-color: #FF3D00;
}

.modal__content label {
    width: 180px;
    padding: 0px;
    display: flex;
    background-color: #FFFFFF;
    cursor: auto;
    text-align: none;
    color: #000000;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.text_field > input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: initial;
    border: none;
    border-radius: 30px;
    padding: 13px 10px;
    background: #F3E9E9;
    font-size: 12px;
    outline: none;
    box-sizing: border-box;
}

.text_field{
    text-align: center;
    margin: 10px;
    font-family: 'Andika', sans-serif;
}

/*--------------------------*/

/*----------botao de salvar a ficha criada -------*/

#botao_salvar_ficha{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 2vw;
    margin-bottom: 10px;
}
